* {
  align:center;
  font-family: Helvetica, Arial, sans-serif;
  text-align: center;
}

.body {
	align : center;
}

.className{
        align:center;
	float:left;
	width:600px;
	height:600px;

}
.rows{
        align:center;
	width:100%;
	height:9%;

	
	}
.cell{
        align:center;
	width:8%;
	height:90%;
	float:left;
	border: 1px solid black;
	margin:2px;
	padding:2px;
	
}

.rightdiv {
	float : right;
	width : 730px;
	height :600px;
	line-height: 1.8;
}

